.task {
	background: white;
	border-radius: 1rem;
	padding: 1rem;
}

.task h2 {
	margin-bottom: .5rem;
}

.task p {
	font-size: 1.2rem;
}

.taskInfo {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: .5rem;
	font-size: 1rem;
}

.level {
	background: lightblue;
	width: fit-content;
	padding: .5rem;
	min-width: 100px;
	border-radius: 1rem;
	text-align: center;
	color: black;
	text-transform: capitalize;
}